@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif !important;
  position: relative;
  overflow-x: hidden;
}

.learnFundamentals,
.learnReact,
.FAQ,
.team,
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  width: 100vw !important;
}

nav .navbar-toggler {
  color: white !important;
  border-color: #212529 !important;
}

nav .navbar-toggler:focus {
  box-shadow: none !important;
}

.hero-section {
  height: 92vh !important;
}

.hero-section .leftImg {
  animation: zoom-in-zoom-out 5s linear infinite alternate;
  overflow: hidden;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1) rotate(-2deg);
  }
  50% {
    transform: scale(1.1, 1.1) rotate(2deg);
  }
  100% {
    transform: scale(1, 1) rotate(-2deg);
  }
}

.map #map {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.Card3 .card-body .fas {
  font-size: 3rem;
  margin-bottom: 1rem;
}

@media (max-width: 991.98px) {
  .navbar .container-fluid .navbar-nav {
    background-color: white !important;
    position: absolute;
    top: 10vh;
    right: 3%;
    width: 95%;
    height: 20vh;
    display: flex;
    justify-content: start;
    align-items: center;
    transform: translateX(-110%);
    transition: all 0.2s ease-in;
    border-radius: 3px;
  }
  .navbar .container-fluid .navbar-nav .nav-item:hover {
    background: blue;
  }
  .navbar .container-fluid .navbar-nav .nav-item .nav-link:hover {
    color: black !important;
  }
  .navbar .container-fluid .navbar-nav li a {
    color: #000000;
  }
  .navbar .container-fluid .show {
    transform: translateX(0%);
  }
}

@media (max-width: 768.98px) {
  .learnFundamentals img,
  .learnReact img,
  .hero-section img {
    margin-top: 2rem;
  }
  .learnReact .row {
    padding-top: 1.9rem;
  }
  .team .cardBody {
    margin-bottom: 1rem;
  }
  .team .cardBody:last-child {
    margin-bottom: 0;
  }
  .hero-section,
  .Card3,
  .learnFundamentals,
  .learnReact,
  .FAQ,
  .team,
  .contact {
    height: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
