@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Josefin Sans", sans-serif !important;
	position: relative;
}
.hero-section,
.Card3,
.learnFundamentals,
.learnReact,
.FAQ,
.team,
.contact {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
nav {
	padding: 0 6rem;
	width: 100vw !important;
	.navbar-toggler {
		color: white !important;
		border-color: #212529 !important;
		&:focus {
			box-shadow: none !important;
		}
	}
}
.hero-section{
	max-height: 80vh !important;
}
.newslatter{
	max-height: 20vh !important;
}

.map {
	#map {
		height: 100%;
		width: 100%;
		border-radius: 5px;
	}
}
.Card3 {
	.card-body {
		.fas {
			font-size: 3rem;
			margin-bottom: 1rem;
		}
	}
}

@media (max-width: 991.98px) {
	.navbar {
		.container-fluid {
			.navbar-nav {
				background-color: rgb(255, 255, 255) !important;
				position: absolute;
				top: 10vh;
				right: 3%;
				width: 95%;
				height: 20vh;
				display: flex;
				justify-content: start;
				align-items: center;
				transform: translateX(-110%);
				transition: all 0.2s ease-in;
				border-radius: 3px;
				.nav-item {
					&:hover {
						background: blue;
					}
					.nav-link {
						&:hover {
							color: black !important;
						}
					}
				}

				li {
					a {
						color: #000000;
					}
				}
			}
			.show {
				transform: translateX(0%);
			}
		}
	}
	// learn fundamentals
}
@mixin imgNone {
	display: none !important;
}
@media (max-width: 768.98px) {
	.learnFundamentals,
	.learnReact,
	.hero-section {
		padding-top: 0 !important;
		img {
			@include imgNone;
		}
	}
	.learnReact {
		.row {
			padding-top: 1.9rem;
		}
	}
	.team {
		.cardBody {
			margin-bottom: 1rem;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.hero-section,
	.Card3,
	.learnFundamentals,
	.learnReact,
	.FAQ,
	.team,
	.contact {
		height: auto !important;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
